
nav.navbar.sticky-top {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-content: center;

}

.navbar-nav li {
    margin: 30px;
}

.navbar-nav li a {
    color: #483D8B;
    font-family: 'Alegreya', serif;

}

nav {
    background-color: #EE82EE
}
.rental-container {
    grid-column: 2
}
.rental-body {
    margin-bottom: 0.5rem;
    color: #483D8B;
}

.rental-header {
    color: #483D8B;
    font-size: 1.1rem;
    
}

.btn {
    grid-column: 2 / 3;
}
