.message-container {
    align-content: center;
}

.message {
    /* border: 1px solid black; */
    font-weight: bold;
    height: 4vw;
    width: 20vw;
    display: inline-block;
    padding-top: .5vw;
}