.popup ul {
  padding: 0;
}

.popup {
  width: 100%;
  padding: 2rem;
}

.popup-body {
  padding-top: 1rem;
}

.popup-body ul {
  margin-left: 1em;
}

.popup-body ul li {
  position: inherit;
  text-transform: inherit;
  text-align: left;
}
/* .flexbox {
  display: flex;
} */

.modal {
  font-size: 8px;
  border-radius: 25%;
  width: 20rem;
}

.popup-photo {
  /* display: inline-block; */
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
/* .modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
} */
.popup-content {
  min-height: 18rem;
  
}