.main {
  background-color: #5EB1BF;
  margin: 1rem;
  width: 235px;
  max-width: 260px;
  /* min-width: 200px; */

}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.movie-title {
  padding-top: 1rem;
  min-height: 3.5rem;
  font-size: 1.3rem;
}
.button-row {
  vertical-align : bottom;
}