.main {
  background-color: #5EB1BF;
  margin: 1rem;
  width: 235px;
  max-width: 260px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* min-width: 200px; */

}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.movie-title {
  padding-top: 1rem;
  min-height: 3.5rem;
  font-size: 1.3rem;
}
.button-row {
  vertical-align : bottom;
}

.card-body img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}