.card-text {
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.block {
  width: 100%;
  border: none;
  background-color: #ede580;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
