.search {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.search-space {
    margin-bottom: 3rem;
}

.search-label {
    margin-top: 1em;
    font-size: 1.4rem;
}

.search-form-item-label {
    margin-right: 0.25em;
}

.search-form-item-form {
    margin-right: 1em;
}

.row {
    display: flex;
}

