.search-bar {
	height: 50px;
	min-width: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.search-input {
	align-content: flex-start;
	margin-right: 10px;
}

.text-box {
	height: 50px;
	width: 600px;
}
.search-btn {
	height: 50px;
	width: 90px;
}










