
#movie-search-area {
  width: 50%;
  margin: auto;
}

.search-movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
}

.search-results {
  padding-top: 1em
}


