.select-bar {
  width: 13rem;
  font-size: .7rem;
  padding: 1.5rem;
  margin-bottom: 5rem;
}

.select-bar li:nth-child(even) {
  text-transform: capitalize;
  margin: 0px 0px 1rem;
}

.select-bar li:nth-child(odd) {
  margin: 0px;
  letter-spacing: 0;
  color: #007bff;
}

.select-button {
  max-height: 
}