body {
  display: grid;
  grid-template-rows: 5% auto;
  background-image: url("../images/popcorn.jpg");
  background-color: #cccccc;
  font-family: 'Titillium Web', sans-serif;
}

/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Righteous';
}

li a:hover:not(.active) {
  background-color: #111;
}

.active-title {
  background-color: red;
  margin-right: 180px;
  font-size: 30px;
  font-family: 'Audiowide';
}


