.App {
  background-color: white;
  text-align: center;
}

.App-header {
  background-color: #222;
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.App-main {
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #c5d86d;
}

.App-title a {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

.movie-display {
  max-width: 50rem;
  margin: auto;
}

.movie-body {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
