.App {
  text-align: center;
}

.App-logo {
  align-items: left;
  /* animation: App-logo-spin infinite 20s linear; */
  height: 180px;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 250px;
  padding: 20px;
  color: rgb(15, 32, 185);
}

.App-title {
  align-items: center;
  font-family: 'Aclonica';
  vertical-align: middle;
  text-align: center;
  font-size: 3.5em;
  height: 80px;
  margin: 0 75px;
  /* width: 85%; */
}

.App-intro {
  font-size: large;
}

.nav-btn {
  width: 130px;
}