ul { 
  list-style-type: none; 
}


/* * {
  background-color: white;
  color: thistle
}

.navbar{
  text-align: center;
  flex-direction: row
 }

 .navbar li {
 }



button {
  background-color: white;
  color: thistle
} */